@font-face {
	font-family: 'Comic Neue';
	src: url(../../assets/fonts/ComicNeue-Light.woff2) format('woff2'),
	url(../../assets/fonts/ComicNeue-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}